@import './variables.scss';
@import '../title/title.scss';
@import '../nav/nav.scss';
@import '../social_links/social_links.scss';
@import '../about/about.scss';
@import '../github_pins/github_pins.scss';

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;
  }

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.left-column {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    margin: 3rem 0 3rem 3rem;
    padding: 2rem 0 2rem 2rem;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 3rem 3rem 0;
    padding: 2rem 2rem 2rem 0.5rem;
    overflow-y: overlay;
    -ms-overflow-style: none;
    scrollbar-width: none;
    opacity: 1;
    transition: opacity 1s ease-in 3s;
    &::-webkit-scrollbar {
        display: none;
    }
    &--hide {
        opacity: 0;
    }
}
