@import './variables.scss';
@import '../title/title.scss';
@import '../nav/nav.scss';
@import '../social_links/social_links.scss';
@import '../about/about.scss';
@import '../display_data/display_data.scss';
@import '../technologies/technologies.scss';
@import '../background/background.scss';
@import '../assets/mixins/_glassmorphism.scss';

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;
  }

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-left: $main-horizontal-margin;
    padding-right: $main-horizontal-margin;
    justify-content: space-between;
    gap: 1rem;
    box-sizing: border-box;
}

.left-column {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: $column-section-margin;
    width: 45%;
    max-height: 100vh;
    top: 0;
    padding-top: $main-vertical-spacing;
    padding-bottom: $main-vertical-spacing;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $column-section-margin;
    padding: $main-vertical-spacing 10px;
    width: 50%;
    opacity: 1;
    transition: opacity 1s ease-in-out 3s;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: overlay;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
    &--hide {
        opacity: 0;
    }
}

@media (max-width: 1023px) {
    .container {
        width: auto;
        height: auto;
        padding: $main-vertical-spacing $main-horizontal-margin;
        flex-direction: column;
        gap: $column-section-margin;
    }

    .left-column {
        position: relative;
        width: auto;
        max-height: none;
        padding: 0;
    }

    .right-column {
        padding: 0 10px;
        width: auto;
        overflow-y: visible;
    }
}