@import '../assets/mixins/variables';

:root {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;
  }

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0 var(--main-horizontal-margin);
    justify-content: space-between;
    gap: 1rem;
    box-sizing: border-box;
}

.left-column {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: var(--column-section-margin);
    width: 45%;
    max-height: 100vh;
    top: 0;
    padding: var(--main-vertical-spacing) 0;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--column-section-margin);
    padding: var(--main-vertical-spacing) 10px;
    width: 50%;
    opacity: 1;
    transition: opacity 1s ease-in-out 3s;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: overlay;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
    &--hide {
        opacity: 0;
    }
}

@media (max-width: 1023px) {
    .container {
        height: auto;
        width: auto;
        padding: var(--main-vertical-spacing) var(--main-horizontal-margin);
        flex-direction: column;
        gap: var(--column-section-margin);
    }

    .left-column {
        position: relative;
        width: auto;
        max-height: none;
        padding: 0 10px;
    }

    .right-column {
        padding: 0 10px;
        width: auto;
        overflow-y: visible;
    }
}

@import '../assets/mixins/glassmorphism';
@import '../title/title';
@import '../nav/nav';
@use '../social_links/social_links';
@use '../about/about';
@use '../display_data/display_data';
@use '../technologies/technologies';
@use '../background/background';