@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf'),
         url('../assets/fonts/Montserrat\ font.woff2');
    font-weight: normal;
    font-style: normal;
}

$background-color: rgb(46, 52, 64);
$text-color: rgb(236, 239, 244);
$highlight-color: rgb(115, 137, 174);
$button-color: rgb(163, 22, 33);
$font-family: 'Montserrat', sans-serif;

$h1-size: 2.5rem;
$h3-size: 1.2rem;
$p-size: 1rem;

$column-section-margin: 3.5rem;
$column-element-margin: 2rem;
