@import '../index/variables.scss';
@import '../assets/mixins/glassmorphism';

.right-column__projects {
    display: flex;
    flex-direction: column;
    gap: $column-element-margin;
}

.projects__title {
    font-size: $h3-size;
}

.projects__list {
    display: flex;
    flex-direction: column;
    gap: $column-element-margin;
}

.project__card {
    position: relative;
    overflow: hidden;

    @include glassmorphism()
}

.card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}

.card__content {
    position: relative;
    display: flex;
    font-size: $p-size;
    flex-direction: column;
    padding: $column-element-margin 2.5rem;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    &:hover{
        opacity: 1;
    }
    @include glassmorphism()
}
.content__title{
    margin-bottom: calc(#{$column-element-margin} / 2);
}

.title__link { 
    font-size: $h3-size;

    &:hover > .link__arrow {
        transform: translate(0.25rem, -0.25rem);
    }
}

.link__arrow {
    height: 1.5rem;
    width: 1.5rem;
    filter: invert(95%);
    position: relative;
    top: 0.6rem;
    transition: transform 0.3s ease-in-out;
}

.content__description {
    margin-bottom: $column-element-margin;
}

.content__languages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.languages__item {
    border: 1px solid rgba($text-color, 0.1);
    padding: 0.5rem 2rem;
    background-color: rgba($highlight-color, 0.4);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

@media (min-width: 1024px) {
    .projects__title {
        display: none;
    }
}