// @import '../assets/mixins/glassmorphism';

.right-column__technologies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--column-element-margin);
    padding: var(--column-element-margin);
    

    @include glassmorphism()
}

.technologies__title {
    font-size: var(--h3-size);
    line-height: 1.3rem;
}

.technologies__subtitle{
    font-size: var(--p-size);
    line-height: 1.3rem;
}

.technologies__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: var(--column-element-margin);
}

.grid__tile {
    font-size: var(--p-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile__image{
    filter: invert(100%);
    height: var(--image-size);
    width: var(--image-size);
    padding: 0.5rem;
}

.tile__text{
    text-align: center;
    padding: 0.5rem;
}

@media (min-width: 1024px) {
    .technologies__title {
        display: none;
    }
}

@media (max-width: 1023px) {
    .technologies__grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}