@import '../../index/variables.scss';

@mixin glassmorphism() {
    background: rgba($background-color, 0.6);
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(12px);
    border: 1px solid rgba($text-color, 0.15);
}