@use "../assets/mixins/variables" as v;

// Styles for the social media links
.left-column__social-links {
  opacity: 1;
  transition: v.$trans-page-load;

  &--hide {
    opacity: 0;
  }
}

// Styles for the social media list
.social-links__list {
  display: flex;
  justify-content: flex-start;
}

// Styles for the social media icons
.social__icon {
  filter: invert(100%);
  height: var(--image-size);
  width: var(--image-size);
  margin-right: var(--column-element-margin);
  opacity: 0.5;
  transition: opacity v.$trans-hover;

  &:hover {
    opacity: 1;
  }
}
