.left-column__social-links {
    opacity: 1;
    transition: opacity 1s ease-in 3s;
    &--hide {
        opacity: 0;
    }
}

.social-link__icon {
    filter: invert(100%);
    height: 2.6rem;
    width: 2.6rem;
    padding: .5rem;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        opacity: 1;
    }
}
