.left-column__nav {
    margin-top: $text-size;
    margin-bottom: auto;
    opacity: 1;
    transition: opacity 1s ease-in 3s;
    &--hide {
        opacity: 0;
    }
}

.item__button { 
    position: relative;
    margin: 0.6rem 0;
    font-size: calc(#{$text-size} / 2);
    opacity: 0.5;
    left: 0;
    transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
    &:hover {
        opacity: 1;
        left: calc(#{$text-size} / 2);
    }
    &::before {
        content: '//';
        position: absolute;
        top: 0;
        left: calc(#{$text-size} / -2);
        opacity: 0; 
        transition: opacity 0.3s ease-in-out;
    }
    &:hover::before {
        opacity: 1;
    //     // animation-duration: 0.5s;
    //     // animation-name: flash;
    //     // animation-iteration-count: infinite;
    //     // animation-direction: alternate;
    }
}

// @keyframes flash {
//     from {
//         opacity: 0;
//     } 
    
//     to {
//         opacity: 1;
//     }
// }