@import '../index/variables.scss';

.left-column__nav {
    margin-bottom: auto;
    opacity: 1;
    transition: opacity 1s ease-in 3s;
    &--hide {
        opacity: 0;
    }
}

.list__item {
    margin-bottom: $column-element-margin;
    font-size: $h3-size;
}

.item__link { 
    position: relative;
    left: 0;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;

    &::before {
        content: '//';
        position: absolute;
        top: 0.15rem;
        left: calc(#{$h3-size} * -1);
        opacity: 0; 
        transition: opacity 0.3s ease-in-out;
    }

    &:hover, 
    &--active {
        left: $h3-size;
        opacity: 1;
        &::before {
            opacity: 1;
        }
    }
}
